{%- assign seed = trmnl.system.timestamp_utc | date: "%s" | plus: 0 -%}

{%- comment -%} Intensity filter: build the pool based on the selected level {%- endcomment -%}
{%- assign lvl = trmnl.plugin_settings.custom_fields_values.intensitaet | default: "voll" -%}
{%- assign pool = uebungen | where: "level", "diskret" -%}
{%- if lvl == "normal" or lvl == "voll" -%}
  {%- assign pool_normal = uebungen | where: "level", "normal" -%}
  {%- assign pool = pool | concat: pool_normal -%}
{%- endif -%}
{%- if lvl == "voll" -%}
  {%- assign pool_voll = uebungen | where: "level", "voll" -%}
  {%- assign pool = pool | concat: pool_voll -%}
{%- endif -%}

{%- assign ex_count = pool | size -%}
{%- comment -%} Seed mischen: blankes timestamp % ex_count ist bei minuten-getakteten Refreshes konstant (jedes Vielfache von 60 ist auch ein Vielfaches von 20), sonst bleibt immer dieselbe Übung stehen. Knuth-Multiplikativhash, danach positionsweise drei unabhängige Indizes extrahieren. {%- endcomment -%}
{%- assign rnd = seed | times: 2654435761 | modulo: 2147483647 -%}
{%- assign ex_idx = rnd | modulo: ex_count -%}
{%- assign ex = pool[ex_idx] -%}

{%- assign saying_count = ex.sayings | size -%}
{%- assign say_idx = rnd | divided_by: ex_count | modulo: saying_count -%}
{%- assign saying = ex.sayings[say_idx] -%}

{%- comment -%} Optionale Anrede-Einblendung {%- endcomment -%}
{%- assign anrede_value = trmnl.plugin_settings.custom_fields_values.anrede | default: "neutral" -%}
{%- assign anr = "" -%}
{%- unless anrede_value == "neutral" -%}
  {%- assign anr_pool = anrede[anrede_value] -%}
  {%- if anr_pool and anr_pool.size > 0 -%}
    {%- assign anr_div = ex_count | times: saying_count -%}
    {%- assign anr_idx = rnd | divided_by: anr_div | modulo: anr_pool.size -%}
    {%- assign anr = ", " | append: anr_pool[anr_idx] -%}
  {%- endif -%}
{%- endunless -%}
{%- assign text = saying | replace: "{ANR}", anr -%}

<div class="layout">
  <div class="grid">
    <div class="col--span-7 flex flex--col flex--center-y flex--left gap">
      <span class="title title--large" data-clamp="2">{{ ex.name }}</span>
      <span class="title" data-clamp="3">{{ ex.desc }}</span>
      <span class="title title--small" data-clamp="3">{{ text }}</span>
    </div>
    <div class="col--span-5 flex flex--center">
      <img class="image image-dither image--contain h--72" src="{{ img_base }}{{ ex.img }}">
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name | default: "Hedgehog Fit" }}</span>
  <span class="instance">Fitness-Igel</span>
</div>
